### Java ###
*.class
*.jar
*.war
*.ear

### Build Directories ###
/target/
/out/
/build/
/META-INF/

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr

### Maven Wrapper ###
.mvn/
!/.mvn/wrapper/maven-wrapper.jar